*withConstrains
false

*simulationType
#fullspace
reducedspace

*solver
#implicitBackwardEuler
#implicitNewmark
reducedImplicitNewmark
#reducedImplicitBackwardEuler

#*deformableModel
#InvertibleFEM

*invertibleMaterial
#reducedNeoHookean
reducedStVK

#for InvertibleFEM
*principalStretchThreshold
0.6

*simulationMeshFilename
new-armadillo.veg

*objectRenderSurfaceMeshFilename
armadillo.obj
*objectVolumetricSurfaceMeshFilename
armadillo_volumetric_surfacemesh.obj
*objectInterpolationFilename
armadillo.interp

*initialRigidVelX
0.0
*initialRigidVelY
0.0
*initialRigidVelZ
0.0

*exampleFilenameBase
ex
#*exampleSurfaceMeshFilenameBase

#*exampleInterpolationFilenameBase


*exampleNum
2
*interpolateEigenfunctionNum
7
*reconstructEigenfunctionNum
100
*exampleEigenFunctionFilenameBase
new-ex100-
*objectEigenFunctionFilename
new-armadillo100.eigen
*correspondingFunctionFilename
armadillo.ini
*savedExampleEigenFunctionFilenameBase
new-ex100-
*savedObjectEigenFunctionFilename
new-armadillo.eigen
*saveObjMeshFilenameBase
output/a

*reducedBasisFilename
#linear.basis
#linear100-un.basis
nonlinear-65.basis
#nonlinear-50.basis
#nonlinear-40.basis
#nonlinear-28-LargeModal.basis
#nonlinear-fixed-34.basis
#result.txt
#LB100-basis.txt

*isLoadCubica
true
*objectCubicaFilename
#linear100-un.cubature
nonlinear-65.cubature
#nonlinear-50.cubature
#nonlinear-40.cubature
#nonlinear-28-LargeModal.cubature
#nonlinear-fixed-34.cubature
#LB100-basis.cubature

*isLoadLBCubica
true
*objectLBCubicaFilename
armadillo_LB8.cubature
#armadillo_LB100.cubature

*massMatrixFilename
#armadillo_temp.mass
armadillo.mass

*inertiaTensorFilename
armadillo.inertia

#*objectAffectedVerticesFilename

#*exampleAffectedVerticesFilenameBase

*fixedVerticesFilename
new-fixed.bou

*planeNumber
1
*planesFilename
planes.config

*lightingConfigFilename
armadillo.lighting

#*forceLoadsFilename
#.load

#*initialPositionFilename

#*initialVelocityFilename

*addGravity
true

*gravity
9.8
*dampingMassCoef
0.02

*dampingStiffnessCoef
0.03

*exampleStiffnessScale
300.0

*timestep
0.01
*framerate
30
*totalFrame
500
*integratorEpsilon
1.0e-6

*deformableObjectCompliance
300.0

#*maxIterations

*enableEigenWeightControl
true

*forceNeighborSize
2

*cameraRadius
5.0

*cameraLongitude
-90.0

*cameraLattitude
15.8434

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
0.0
