*withConstrains
false

*simulationType
fullspace
#reducedspace

*solver
#implicitBackwardEuler
implicitNewmark
#reducedImplicitNewmark
#reducedImplicitBackwardEuler

#*deformableModel
#InvertibleFEM

*invertibleMaterial
StVK
#NeoHookean
#reducedNeoHookean
#reducedStVK

#for InvertibleFEM
*principalStretchThreshold
0.6

*simulationMeshFilename
C.veg

*objectRenderSurfaceMeshFilename
C_render.obj
*objectVolumetricSurfaceMeshFilename
C_volumetric_surfacemesh.obj
*objectInterpolationFilename
C.interp

#*initialRigidVelX
#0.0
#*initialRigidVelY
#0.0
#*initialRigidVelZ
#0.0

*exampleFilenameBase
ex
*exampleNum
2
*interpolateEigenfunctionNum
4
*reconstructEigenfunctionNum
100
*exampleEigenFunctionFilenameBase
new-ex
*objectEigenFunctionFilename
new-C.eigen
*correspondingFunctionFilename
C.ini
*savedExampleEigenFunctionFilenameBase
new-ex
*savedObjectEigenFunctionFilename
new-C.eigen
*saveObjMeshFilenameBase
output/a
*enableSaveSurfaceMtl
false

#*reducedBasisFilename
#nonlinear-65.basis
#nonlinear.basis

*isLoadCubica
false
#*objectCubicaFilename
#nonlinear-65.cubature
#nonlinear.cubature

*isLoadLBCubica
false
#*objectLBCubicaFilename
#G_LB.cubature

*massMatrixFilename
C.mass

#*inertiaTensorFilename
#G.inertia

#*objectAffectedVerticesFilename

#*exampleAffectedVerticesFilenameBase

*fixedVerticesFilename
C.bou

*planeNumber
1
*planesFilename
planes.config

*lightingConfigFilename
C.lighting

#*forceLoadsFilename
#.load

#*initialPositionFilename

#*initialVelocityFilename
#initial.vel

*addGravity
true

*gravity
0.0
*dampingMassCoef
0.02

*dampingStiffnessCoef
0.03

*exampleStiffnessScale
20.0
*timestep
0.01
*framerate
30
*totalFrame
500
*integratorEpsilon
1.0e-6

*deformableObjectCompliance
2000

#*maxIterations

*enableEigenWeightControl
true

*forceNeighborSize
2

*cameraRadius
5.0

*cameraLongitude
-90.0

*cameraLattitude
0.0

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
2.0
