*withConstrains
false

*simulationType
fullspace
#reducedspace

*solver
#implicitBackwardEuler
implicitNewmark
#reducedImplicitNewmark
#reducedImplicitBackwardEuler

#*deformableModel
#InvertibleFEM

*invertibleMaterial
StVK
#NeoHookean
#reducedNeoHookean
#reducedStVK

#for InvertibleFEM
*principalStretchThreshold
0.6

*simulationMeshFilename
A.veg

*objectRenderSurfaceMeshFilename
A_render.obj
*objectVolumetricSurfaceMeshFilename
A_volumetric_surfacemesh.obj
*objectInterpolationFilename
A.interp

#*initialRigidVelX
#0.0
#*initialRigidVelY
#0.0
#*initialRigidVelZ
#0.0

*exampleFilenameBase
ex
*exampleNum
3
*interpolateEigenfunctionNum
4
*reconstructEigenfunctionNum
100
*exampleEigenFunctionFilenameBase
new-ex
*objectEigenFunctionFilename
new-A.eigen
*correspondingFunctionFilename
A.ini
*savedExampleEigenFunctionFilenameBase
new-ex
*savedObjectEigenFunctionFilename
new-A.eigen
*saveObjMeshFilenameBase
output/a
*enableSaveSurfaceMtl
false

#*reducedBasisFilename
#nonlinear-65.basis
#nonlinear.basis

*isLoadCubica
false
#*objectCubicaFilename
#nonlinear-65.cubature
#nonlinear.cubature

*isLoadLBCubica
false
#*objectLBCubicaFilename
#A_LB.cubature

*massMatrixFilename
A.mass

#*inertiaTensorFilename
#G.inertia

#*objectAffectedVerticesFilename

#*exampleAffectedVerticesFilenameBase

*fixedVerticesFilename
A.bou

*planeNumber
1
*planesFilename
planes.config

*lightingConfigFilename
A.lighting

#*forceLoadsFilename
#.load

#*initialPositionFilename

#*initialVelocityFilename
#initial.vel

*addGravity
false

*gravity
0.0
*dampingMassCoef
0.02

*dampingStiffnessCoef
0.03
*exampleBias
0.8
*exampleStiffnessScale
-20.0
*timestep
0.01
*framerate
30
*totalFrame
500
*integratorEpsilon
1.0e-6

*deformableObjectCompliance
2000

#*maxIterations

*enableEigenWeightControl
true

*forceNeighborSize
2

*cameraRadius
5.0

*cameraLongitude
-90.0

*cameraLattitude
0.0

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
2.0
