*solver
implicitBackwardEuler
#implicitNewmark
#Euler

*deformableModel
#StVK
InvertibleFEM
#CLFEM
#LinearFEM

#for InvertibleFEM
*principalStretchThreshold
0.6

*invertibleMaterial
neoHookean
#StVK

*simulationMeshFilename
gorilla.veg

*objectRenderSurfaceMeshFilename
gorilla_render.obj

*objectInterpolationFilename
gorilla.interp

*exampleFilenameBase
ex
#*exampleSurfaceMeshFilenameBase

#*exampleInterpolationFilenameBase


*exampleNum
1
*exampleEigunfunctionNum
7
*objectEigenfunctionNum
7
*exampleEigenFunctionFilenameBase
new1_ex
*objectEigenFunctionFilename
gorilla.eigen
*correspondingFunctionFilename
gorilla.ini

*savedExampleEigenFunctionFilenameBase
armadillo-ex
*savedObjectEigenFunctionFilename
gorilla.eigen

*isLoadCubica
true
*objectCubicaFilename
gorilla.cubature
*exampleCubicaFilenameBase
ex

*massMatrixFilename
gorilla.mass

#*objectAffectedVerticesFilename

#*exampleAffectedVerticesFilenameBase

#*fixedVerticesFilename
#.bou

*planeNumber
0
*planesFilename
planes.config

*lightingCOnfigFilename
gorilla.lighting

#*forceLoadsFilename
#.load

#*initialPositionFilename

#*initialVelocityFilename

*addGravity
true

*gravity
98

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.0

*exampleStiffnessScale
5.0e-3

*timestep
1.0e-3

*integratorEpsilon
1.0e-6

*deformableObjectCompliance
100.0

*maxIterations

*enableEigenWeightControl
true

*forceNeighborSize
2

*cameraRadius
70.0

*cameraLongitude
-90.0

*cameraLattitude
5.8434

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
0.0
