*withConstrains
false

*simulationType
#fullspace
reducedspace

*solver
#implicitBackwardEuler
#implicitNewmark
reducedImplicitNewmark
#reducedImplicitBackwardEuler

#*deformableModel
#InvertibleFEM

*invertibleMaterial
#reducedNeoHookean
reducedStVK

#for InvertibleFEM
*principalStretchThreshold
0.6

*simulationMeshFilename
car.veg

*objectRenderSurfaceMeshFilename
car_render.obj
*objectVolumetricSurfaceMeshFilename
car_volumetric_mesh.obj
*objectInterpolationFilename
car.interp

*exampleFilenameBase
ex
#*exampleSurfaceMeshFilenameBase

#*exampleInterpolationFilenameBase


*exampleNum
2
*interpolateEigenfunctionNum
4
*reconstructEigenfunctionNum
100
*exampleEigenFunctionFilenameBase
new-ex
*objectEigenFunctionFilename
new-car.eigen
*correspondingFunctionFilename
car.ini
*savedExampleEigenFunctionFilenameBase
new-ex
*savedObjectEigenFunctionFilename
new-car.eigen
*saveObjMeshFilenameBase
output/a

*reducedBasisFilename
nonlinear-65.basis
#nonlinear.basis

*isLoadCubica
true
*objectCubicaFilename
nonlinear-65.cubature
#nonlinear.cubature

*isLoadLBCubica
true
*objectLBCubicaFilename
car_LB.cubature

*massMatrixFilename
car.mass

*inertiaTensorFilename
car.inertia

#*objectAffectedVerticesFilename

#*exampleAffectedVerticesFilenameBase

#*fixedVerticesFilename
#fixed.bou

*planeNumber
2
*planesFilename
planes.config

*lightingConfigFilename
car.lighting

#*forceLoadsFilename
#.load

#*initialPositionFilename

#*initialVelocityFilename

*addGravity
true

*gravity
0.098
*dampingMassCoef
0.02

*dampingStiffnessCoef
0.03

*exampleStiffnessScale
30000.0
*timestep
0.01
*framerate
30
*totalFrame
500
*integratorEpsilon
1.0e-6

*deformableObjectCompliance
2000

#*maxIterations

*enableEigenWeightControl
true

*forceNeighborSize
2

*cameraRadius
40.0

*cameraLongitude
-90.0

*cameraLattitude
0.0

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
2.0
