*withConstrains
false

*simulationType
#fullspace
reducedspace

*solver
#implicitBackwardEuler
#implicitNewmark
reducedImplicitNewmark
#reducedImplicitBackwardEuler

#*deformableModel
#InvertibleFEM

*invertibleMaterial
#StVK
reducedStVK

#for InvertibleFEM
*principalStretchThreshold
0.6

*simulationMeshFilename
car.veg

*objectRenderSurfaceMeshFilename
car_render.obj
*objectVolumetricSurfaceMeshFilename
car_volumetric_surfacemesh.obj
*objectInterpolationFilename
car.interp

*initialRigidVelX
-2.0
*initialRigidVelY
0.0
*initialRigidVelZ
0.0

*exampleFilenameBase
ex
#*exampleSurfaceMeshFilenameBase

#*exampleInterpolationFilenameBase


*exampleNum
2
*interpolateEigenfunctionNum
5
*reconstructEigenfunctionNum
100
*exampleEigenFunctionFilenameBase
new-ex
*objectEigenFunctionFilename
new-car.eigen
*correspondingFunctionFilename
car-4.ini
*savedExampleEigenFunctionFilenameBase
new-ex
*savedObjectEigenFunctionFilename
new-car.eigen
*saveObjMeshFilenameBase
output/a
*enableSaveSurfaceMtl
true

*reducedBasisFilename
nonlinear-65.basis
#nonlinear-135.basis

*isLoadCubica
true
*objectCubicaFilename
nonlinear-65.cubature
#nonlinear-65.cubature
#nonlinear-135.cubature

*isLoadLBCubica
false
*objectLBCubicaFilename
car_LB-100.cubature

*massMatrixFilename
car.mass

*inertiaTensorFilename
car.inertia

#*objectAffectedVerticesFilename

#*exampleAffectedVerticesFilenameBase

#*fixedVerticesFilename
#fixed.bou

*planeNumber
2
*planesFilename
planes.config

*lightingConfigFilename
car.lighting

#*forceLoadsFilename
#.load

#*initialPositionFilename

#*initialVelocityFilename

*addGravity
true

*gravity
0.0
*dampingMassCoef
0.01

*dampingStiffnessCoef
0.02

*exampleBias
0.7
*torqueCoef
1.0e-2
*collisionNumLimited
10
*exampleStiffnessScale
2.0e3
*dampingExampleStiffness
0.6

*timestep
0.005
*framerate
30
*totalFrame
500
*integratorEpsilon
1.0e-6

*deformableObjectCompliance
2000

#*maxIterations

*enableEigenWeightControl
true

*forceNeighborSize
2

*cameraRadius
40.0

*cameraLongitude
-90.0

*cameraLattitude
0.0

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
2.0
