###################
#vertical plane

*planeEnabled_0
1

*planeBounce_0
4.0e5

*planeCenter_0_X
-10.0

*planeCenter_0_Y
6.0

*planeCenter_0_Z
0.0

*planeNormal_0_X
1.0

*planeNormal_0_Y
0.0

*planeNormal_0_Z
0.0

*planeSize_0
16.0

*planeColor_0_X
0.1

*planeColor_0_Y
0.4

*planeColor_0_Z
0.8

*planeAmbient_0
0.8

*planeDiffuse_0
0.5

*planeSpecular_0
0.5

*planeShininess_0
1.0

###################
#horizonal plane

*planeEnabled_1
1

*planeBounce_1
3.0e5

*planeCenter_1_X
0.0

*planeCenter_1_Y
-1.7

*planeCenter_1_Z
0.0

*planeNormal_1_X
0.0

*planeNormal_1_Y
1.0

*planeNormal_1_Z
0.0

*planeSize_1
40.0

*planeColor_1_X
0.1

*planeColor_1_Y
0.4

*planeColor_1_Z
0.8

*planeAmbient_1
0.8

*planeDiffuse_1
0.5

*planeSpecular_1
0.5

*planeShininess_1
1.0
