*withConstrains
false

*simulationType
fullspace
#reducedspace

*solver
#implicitBackwardEuler
implicitNewmark
#reducedImplicitNewmark
#reducedImplicitBackwardEuler

#*deformableModel
#InvertibleFEM

*invertibleMaterial
StVK
#NeoHookean
#reducedNeoHookean
#reducedStVK

#for InvertibleFEM
*principalStretchThreshold
0.6

*simulationMeshFilename
gorilla.veg

*objectRenderSurfaceMeshFilename
gorilla_render.obj
*objectVolumetricSurfaceMeshFilename
gorilla_volumetric_surfacemesh.obj
*objectInterpolationFilename
gorilla.interp

#*initialRigidVelX
#0.0
#*initialRigidVelY
#0.0
#*initialRigidVelZ
#0.0

*exampleFilenameBase
ex
*exampleNum
2
*interpolateEigenfunctionNum
5
*reconstructEigenfunctionNum
100
*exampleEigenFunctionFilenameBase
new-ex
*objectEigenFunctionFilename
new-gorilla.eigen
*correspondingFunctionFilename
gorilla.ini
*savedExampleEigenFunctionFilenameBase
new-ex
*savedObjectEigenFunctionFilename
new-gorilla.eigen
*saveObjMeshFilenameBase
output/a
*enableSaveSurfaceMtl
false

#*reducedBasisFilename
#nonlinear-65.basis
#nonlinear.basis

*isLoadCubica
false
#*objectCubicaFilename
#nonlinear-65.cubature
#nonlinear.cubature

*isLoadLBCubica
false
*objectLBCubicaFilename
gorilla_LB.cubature

*massMatrixFilename
gorilla.mass

*inertiaTensorFilename
gorilla.inertia

#*objectAffectedVerticesFilename

#*exampleAffectedVerticesFilenameBase

#*fixedVerticesFilename
#fixed.bou

*planeNumber
1
*planesFilename
planes.config

*lightingConfigFilename
gorilla.lighting

#*forceLoadsFilename
#.load

#*initialPositionFilename

#*initialVelocityFilename
#initial.vel

*addGravity
true

*gravity
9.8
*dampingMassCoef
0.02

*dampingStiffnessCoef
0.03

*exampleStiffnessScale
100.0
*timestep
0.005
*framerate
30
*totalFrame
5000
*integratorEpsilon
1.0e-6

*deformableObjectCompliance
2000

#*maxIterations

*enableEigenWeightControl
true

*forceNeighborSize
2

*cameraRadius
40.0

*cameraLongitude
-90.0

*cameraLattitude
0.0

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
2.0
