*simulationType
#fullspace
reducedspace

*solver
#implicitBackwardEuler
#implicitNewmark
#Euler
#centralDifferences
#reducedCentralDifferences
reducedImplicitNewmark
#reducedImplicitBackwardEuler

#*deformableModel
#InvertibleFEM

#*invertibleMaterial
#neoHookean

#for InvertibleFEM
*principalStretchThreshold
0.6

*simulationMeshFilename
bar.veg

*objectRenderSurfaceMeshFilename
bar.obj
*objectVolumetricSurfaceMeshFilename
bar_volumetric_surfacemesh.obj
*objectInterpolationFilename
bar.interp

*exampleFilenameBase
ex
#*exampleSurfaceMeshFilenameBase

#*exampleInterpolationFilenameBase


*exampleNum
1
*interpolateEigenfunctionNum
9
*reconstructEigenfunctionNum
9
*exampleEigenFunctionFilenameBase
ex
*objectEigenFunctionFilename
bar.eigen
*correspondingFunctionFilename
bar.ini
*savedExampleEigenFunctionFilenameBase
new-ex
*savedObjectEigenFunctionFilename
new-bar.eigen
*saveObjMeshFilenameBase
output/a


*isLoadCubica
true
*objectCubicaFilename
#bar.cubature
#bar100.cubature
#bar-cubica.cubature
bar-cubica100.cubature

*reducedBasisFilename
#linear.txt
#linear100.txt
#linear-cubica.txt
linear-cubica100.txt


*massMatrixFilename
bar.mass

#*objectAffectedVerticesFilename

#*exampleAffectedVerticesFilenameBase

#*fixedVerticesFilename
#bar.bou

*planeNumber
0
*planesFilename
planes.config

*lightingConfigFilename
bar.lighting

#*forceLoadsFilename
#.load

#*initialPositionFilename

#*initialVelocityFilename

*addGravity
false

*gravity
9.8

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.0

*exampleStiffnessScale
0.01
*timestep
0.01
*framerate
30
*totalFrame
500
*integratorEpsilon
1.0e-6

*deformableObjectCompliance
3000.0

#*maxIterations

*enableEigenWeightControl
true

*forceNeighborSize
2

*cameraRadius
5.0

*cameraLongitude
-90.0

*cameraLattitude
15.8434

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
0.0
