*withConstrains
false

*simulationType
fullspace
#reducedspace

*solver
implicitBackwardEuler
#implicitNewmark
#reducedImplicitNewmark
#reducedImplicitBackwardEuler

#*deformableModel
#InvertibleFEM

*invertibleMaterial
StVK
#NeoHookean
#reducedNeoHookean
#reducedStVK

#for InvertibleFEM
*principalStretchThreshold
0.6

*simulationMeshFilename
car.veg

*objectRenderSurfaceMeshFilename
car_render.obj
*objectVolumetricSurfaceMeshFilename
car_volumetric_surfacemesh.obj
*objectInterpolationFilename
car.interp

#*initialRigidVelX
#0.0
#*initialRigidVelY
#0.0
#*initialRigidVelZ
#0.0

*exampleFilenameBase
ex
*exampleNum
2
*interpolateEigenfunctionNum
4
*reconstructEigenfunctionNum
100
*exampleEigenFunctionFilenameBase
new-ex
*objectEigenFunctionFilename
new-car.eigen
*correspondingFunctionFilename
car.ini
*savedExampleEigenFunctionFilenameBase
new-ex
*savedObjectEigenFunctionFilename
new-car.eigen
*saveObjMeshFilenameBase
output/a
*enableSaveSurfaceMtl
true

#*reducedBasisFilename
#nonlinear-65.basis
#nonlinear.basis

*isLoadCubica
false
#*objectCubicaFilename
#nonlinear-65.cubature
#nonlinear.cubature

*isLoadLBCubica
false
*objectLBCubicaFilename
car_LB.cubature

*massMatrixFilename
car.mass

*inertiaTensorFilename
car.inertia

#*objectAffectedVerticesFilename

#*exampleAffectedVerticesFilenameBase

#*fixedVerticesFilename
#fixed.bou

*planeNumber
2
*planesFilename
planes.config

*lightingConfigFilename
car.lighting

#*forceLoadsFilename
#.load

#*initialPositionFilename

*initialVelocityFilename
initial.vel

*addGravity
true

*gravity
0.98
*dampingMassCoef
0.02

*dampingStiffnessCoef
0.03

*exampleBias
0.6
*exampleStiffnessScale
1000.0
*timestep
0.005
*framerate
30
*totalFrame
800
*integratorEpsilon
1.0e-6

*deformableObjectCompliance
2000

#*maxIterations

*enableEigenWeightControl
true

*forceNeighborSize
2

*cameraRadius
40.0

*cameraLongitude
-90.0

*cameraLattitude
0.0

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
2.0
